@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

/* headings and logo */

h1, h2 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: red;
}

h3{
    color: white;
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;
}
/* navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    color: black;
}

#menu, #logo {
    line-height: 100px;
}

#menu li {
    float: right;
    list-style-type: circle;
    margin-right: 45px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid red;
}

/* cover image and cover text */
 
#cover-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#cover-text, #cover-text h2 {
    color: black;
}
#cover-image {
    height: 600px;
    width: 100%;
    background: url('../css/images/pexels-photo-1884574.jpeg') no-repeat center center;
}

#cover-text {
font-size: 130%;
font-family: Oswald, sans-serif;
text-transform: uppercase;
letter-spacing: 4px;

width: 450px;
height: 300px;

padding-top: 40px;
padding-left: 30px;

background-color: red;

bottom: 30px;
right: 150px;

position: absolute;
}

/* team table and text */

#table {
    text-align: center;
    color: black;
    margin: 0 auto;
    padding: 50px 0 70px 30px;
}

#table-heading {
    width: 700px;
    height: 200px;
    bottom: 30px;
    right: 150px;
    position: absolute;
}
#team-table {
    margin: 0 0 0 1000px;
    width: 40%;
}

table, td, tr {
    border: 1px solid black;
    text-align: center;
  }
  
  tr:hover {background-color: red;}


  #fixtures {
    background-image: url('../images/dublin-city.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden;
}

#fixtures div {
    color: #fafafa;
    background-color: red;
    width: 20%;
    height: 200px;
    float: left;
    padding: 30px 0 0 10px;
    text-align: center;
    border: 2px solid white;
    box-sizing: border-box;
}

#fixtures h2 {
    color: #fafafa;
}

  
  /* Form */

  .form-section {
      background-image: url('../css/images/image-20160215-22587-1gaahhp.jpg');
    background-size: cover;
    background-position: center;
    height: 900px;
}
.signup-form {
    margin: 200px 10% 0 0;
    color: #fff;
    background-color: red;
    max-width: 400px;
    position :absolute;
    left: 700px;
    padding: 30px;
}
.signup-form h2 {
    color: #fafafa;
    margin-bottom: 20px;
}
.text-input {
    background:transparent;
    color:#fafafa;
    width:100%;
    height:25px;
    margin:5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
}
.text-input:hover {
    border-color: #f16c6b;
}
.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #f16c6b;
    color: #fafafa;
    display: block;
}
.join-button:hover {
    background-color: #fafafa;
    color: #f16c6b;
}



ooter {
    height: 150px;
}

.social-networks {
    text-align: center;
}

.social-networks>li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
}

/* gallery */

#photos {
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0;
}

#photos>img {
    width: 100%;
}

/* Media queries */

/* For larger to medium screens size from 1200px wide and down */
@media screen and (max-width: 1200px) {
    #club-ethos {
        width: 65%;
        height: 1200px;
        margin: 0 auto;
    }

    #welcome {
        padding: 30px 0;
        margin: 0;
    }

    #left-about,
    #right-about {
        width: 100%;
        float: left;
        padding: 0;
    }

    #center-about {
        clear: both;
        width: 100%;
        float: left;
        padding: 0;
    }

    #times>div {
        width: 100%;
        clear: both;
        height: 150px;
        padding: 0;
    }

    hr {
        display: none;
    }
}

/*  For medium screen sizes from 950px wide and down */

@media screen and (max-width: 950px) {

    #menu {
        clear: left;
        float: left;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 25px;
    }

    #cover-text {
        left: 0;
    }

    #club-ethos {
        width: 90%;
        height: 1200px;
        margin: 0 auto;
    }

    .left-about-heading, .right-about-heading {
        width: inherit;
    }

    .left-about-heading h2, .right-about-heading h2 {
        width: 100%;
        text-align: center;
    }

    .left-about-heading p, .right-about-heading p {
        padding: 0 20px;

    }
    #photos {
        column-count: 3;
        text-align: center;
    }
}
/* For small screen sizes 800px and down */
@media screen and (max-width: 800px) {
    #photos {
        column-count: 2;
    }
}